*.pdf filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.vsidx filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.suo filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.csproj filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.resx filter=lfs diff=lfs merge=lfs -text
*.settings filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.cache filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.resources filter=lfs diff=lfs merge=lfs -text
/10-[[:space:]]785[[:space:]]Programação[[:space:]]em[[:space:]]CC++[[:space:]]-[[:space:]]formas[[:space:]]complexas/785-App03/785-App03/obj/Debug/_IsIncrementalBuild filter=lfs diff=lfs merge=lfs -text
*.v2 filter=lfs diff=lfs merge=lfs -text
*.v1 filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.sqlite filter=lfs diff=lfs merge=lfs -text
*.user filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.props filter=lfs diff=lfs merge=lfs -text
*.targets filter=lfs diff=lfs merge=lfs -text
*.editorconfig filter=lfs diff=lfs merge=lfs -text
*.BuildWithSkipAnalyzers filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
/10-[[:space:]]785[[:space:]]Programação[[:space:]]em[[:space:]]CC++[[:space:]]-[[:space:]]formas[[:space:]]complexas/785_App04/785_App04/obj/Debug/_IsIncrementalBuild filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.drawio filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.class filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.odt filter=lfs diff=lfs merge=lfs -text
*.code-workspace filter=lfs diff=lfs merge=lfs -text
/3-[[:space:]]779[[:space:]]Utilitario[[:space:]]de[[:space:]]apresentação[[:space:]]grafica/Z0A1T1GB filter=lfs diff=lfs merge=lfs -text
*.pbix filter=lfs diff=lfs merge=lfs -text
*.dev filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
*.cbp filter=lfs diff=lfs merge=lfs -text
*.layout filter=lfs diff=lfs merge=lfs -text
*.win filter=lfs diff=lfs merge=lfs -text
*.depend filter=lfs diff=lfs merge=lfs -text
/7-[[:space:]]782[[:space:]]Programação[[:space:]]em[[:space:]]CC++[[:space:]]-[[:space:]]estrutura[[:space:]]basica[[:space:]]e[[:space:]]conceitos[[:space:]]fund/782-[[:space:]]T6/Exer5-14-04/doxygen/doxyfile filter=lfs diff=lfs merge=lfs -text
/7-[[:space:]]782[[:space:]]Programação[[:space:]]em[[:space:]]CC++[[:space:]]-[[:space:]]estrutura[[:space:]]basica[[:space:]]e[[:space:]]conceitos[[:space:]]fund/782-[[:space:]]T6/exer3-14-04/doxygen/doxyfile filter=lfs diff=lfs merge=lfs -text
/8-[[:space:]]783[[:space:]]Programação[[:space:]]em[[:space:]]CC++[[:space:]]-[[:space:]]ciclos[[:space:]]e[[:space:]]decisoes/funcoes_estruturas/doxygen/doxyfile filter=lfs diff=lfs merge=lfs -text
/9-[[:space:]]784[[:space:]]Programação[[:space:]]em[[:space:]]CC++[[:space:]]-[[:space:]]funçoes[[:space:]]e[[:space:]]estruturas/784-[[:space:]]T1/doxygen/doxyfile filter=lfs diff=lfs merge=lfs -text
/9-[[:space:]]784[[:space:]]Programação[[:space:]]em[[:space:]]CC++[[:space:]]-[[:space:]]funçoes[[:space:]]e[[:space:]]estruturas/784-[[:space:]]T4/doxygen/doxyfile filter=lfs diff=lfs merge=lfs -text
*.DOCX filter=lfs diff=lfs merge=lfs -text
