*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}
body {
    font-family: sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    padding: 100px; 
    
}
/*
.container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
*/
form{
    display: block;
    flex-wrap: wrap;
   /* background-color: #f1f1f1; */
    margin: 5px;
    padding: 10px;
    border-style: groove;
    border-radius: 3px;
    
}
label {
    display: inline-block;
    width: 5em;
    font-weight: bold;
}
div{
    padding: 10px;
}
input{
    font-size: 2rem;
    width: 13em;
    border: groove;
    border-radius: 3px;
      
    
}
.input-control input:focus{
    outline: 0;
}
/*
.input-control.success input{
    border-color: #09c309;
}
.input-control.error input{
    border-color: #ff3860;
}
.input-control .error{
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
*/
.btn{
    align-items: center; 
}

button {
    margin: 5px;
    font-size: 2rem;
    width: 18.4em;
    padding: 7px;
    border: none;
    background-color: lightgrey;
    font-weight: bold;
}

button:hover {
    outline: 2px solid rgb(66, 61, 61);
    background-color: grey;
    
   
}
@media screen {
    
}