*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    width: 560px;
    height: 210px;
    background-color: rgba(125, 222, 252, 0.411);
    margin-top: 20px;
    justify-content: center;
}

.formulario{
    width: 550px;
    height: 200px;
    background-color: rgba(192, 162, 192, 0.753);
    margin: auto;
    padding: 10px;
    
}


input{
    background-color: aliceblue;
    width: 200px;
    height: 25px;
    margin: 5px auto;
}