
body {
}
h1 {
}
h2 {
}
h2 a {
}

.blue {}
.yellow {}

table {
}
th {
}
tr:nth-child(odd) {
}
tr:nth-child(even) {
}
td:first-child {
}
tr:hover {
}

a:visited {
    color: #699;
    text-decoration: none; 
   } 
   a:hover { 
    color: #c93; 
    text-decoration: underline;
   }
    
   a:active { 
    color: #900;
    text-decoration: underline; 
   }
}   

