*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Poppins:ital,wght@0,400;0,600;0,700;1,200&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: grey;
    background-image: url(/half_moon.png) ;
    background-repeat: no-repeat;
    font-size: 16px;
}

/*   container    */
.container{
    width: 1170px;
    height: 100%;
    
    margin: auto;
    
 }

/*   inicio Menu  Cabeçalho    */

#conteudo{
    
    max-width: 800px;
    height: 200px;
    display: flex;
    margin: auto;
    
}
#header{
    display: flex;
    justify-content: space-between;
    
    width: 800px;
    height: 100px;
    margin: 100px auto;
}
#box-header, #h1-header{
  font-family: Arial, Helvetica, sans-serif;
    
    font-size: 30px;
    color: rgb(247, 0, 0); 
}
#box-header, #h4-header{
    font-style: italic;
}

#nav-menus{
    display: flex;
    justify-content: space-around;
    
    width: 400px;
    height: 100px;

}
#nav-menus{
    display: flex;
    justify-content: space-between;
    
    
}
nav, #nav-menus, li a{
    
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    list-style-type: none;
        
}

 li a:hover{
    background-color: red;
    padding-top: 150px ;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

/*  Ínicio da Área de Conteúdos  */


#area-conteudo{
    padding-top: 40px;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#box1-conteudo h1{
    color: rgb(247, 0, 0);

}
#box1-conteudo h3{
    color:grey ;
    font-size: 12px;
    padding-top: 10px;
    
}
#box1-conteudo h4{
    color:grey ;
    font-size: 12px;
    text-align: right;

    

}
h4 span {
    color: rgb(247, 0, 0);
}

p span{
    color: rgb(247, 0, 0);

}

#sub-menus a{
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
    padding: 30px 30px 30px 40px;
    


}


#box-central{
    width: 600px;
    padding-right: 40px;
    text-align: justify;
    
}

/*  Ínicio do Menu Direito */
#Menu-direito{
    
    width: 200px;
    height: 100%;
    text-align: justify;
    
}
#pesquisa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#pesquisa, .text{
    width: 150px;
    padding-left: 10px;
}

#box-direito{
   
    padding-left: 10px;
    width: 200px;
    height: 100vh;
}
#box-frase{
    padding: 40px 10px;
    
    

}
#box-frase h1{
    color: rgb(247, 0, 0);
}


#box-sitios {
    padding: 40px 10px;
}

#box-sitios h1{
    color: rgb(247, 0, 0);
}
#box-acontecimentos{
    padding: 40px 10px;
}
#box-acontecimentos h1{
    color: rgb(247, 0, 0);
}

#box-arquivos{
    padding: 40px 10px;
}
#box-arquivos h1{
    color: rgb(247, 0, 0);
}


/* Ínicio do Rodapé */

#rodape{
    background-color: rgb(44, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    margin: auto;

    
}

#rodapeCaixa{
    
    max-width: 800px;
    height: 100%;


}

#box-rodape{
    
    width: 250px;
    height: 150px;
    margin-right: 15px;
    margin-left: 15px;

}
#box-rodape h1{
    padding: 5px;
    font-weight: bold;
    color: whitesmoke;
}
#box-rodape p{
    padding: 10px;
    font-size: 12px;
}
#box-rodape ul{
    padding: 10px;
    font-size: 12px;
    color: rgb(247, 0, 0);
}


footer{
    position: relative;
    text-align: center;
    font-size: 12px;
  
}